[user]
	name = Snaipe
	email = franklinmathieu@gmail.com
[alias]
	st = status -sb
	dr = status -sb -uno
	ci = commit
	lg = log --color --graph --pretty='%Cred%h%Creset %C(bold blue)<%an> %Cgreen(%cr)%Creset %Creset %n%B'
	fl = log -u
	f  = "!git ls-files | grep -i"
	lt = describe --tags --abbrev=0
	cp = cherry-pick
	cl = clone
	co = checkout
	br = branch
	diff = diff --word-diff
	dc = diff --cached
	grep = grep -Ii
	unstage = reset HEAD
        restore = "!git checkout -- $(git status --porcelain | grep ${1} | cut -c 4-); #" 

[credential]
	helper = cache --timeout=3600

[difftool "idea"]
	cmd = idea diff "$(realpath $LOCAL)" "$(realpath $REMOTE)"

[mergetool "idea"]
	cmd = idea merge "$(realpath $LOCAL)" "$(realpath $REMOTE)" "$(realpath $BASE)" "$(realpath $MERGED)"
