.config/Skype
.vim/bundle/*
.viminfo
Desktop
Downloads
.zcompdump
.thumbnails
.sync
.steam*
.ssh
.starcheat
.pentadactyl
.macromedia
.mozilla
.pip
.quodlibet
.minecraft
.m2
.local
.lesshst
.pulse-cookie
.putty
.pki
.java
.gimp-2.8
.gtk-bookmarks
.gstreamer-0.10
documents
images
music
workspace
.Skype
.Xauthority
.alsaplayer
.asielauncher
.filezilla
.gradle
.eclipse
.esd_auth
.ICEauthority
.NERDTreeBookmarks
.cache
.config/gtk-*
